.git
.venv

# Add terraform related stuff

.terraform

*.tfstate
*.tfstate.backup



# Add other stuff
conver_sample.txt
__pycache__
cli_inv_logs
*.zip
cli-admin_accessKeys.csv
.coverage
.swp
.py.swp
.ruff_cache
